<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/quiz.css" />
    <link rel="stylesheet" href="../css/dark-mode.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&family=Qwitcher+Grypen:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <script src="../javascript/profile.js" defer></script>
    <script src="../javascript/thumbToggle.js" defer></script>
    <script src="../javascript/test.js" defer></script>
    <link rel="icon" type="image/jpg" href="/assets/images/favicon.jpg">
  </head>
  <style>
    body {
      background-image: url("../assets/images/hobbitLandschap.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: fixed;
    }
  </style>
  <body>
    <%- include("partials/nav") %>
    <main class="quiz">
      <h2>Vraag: <%=userCurrentQuestion%>/10</h2>
      <h2>
        "<%=selectedQuote.dialog%>"
        <% if (favoritedQuotes.some(fav => Array.isArray(fav.dialog) && fav.dialog.includes(selectedQuote.dialog))) { %>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <% } else {%>
            <i class="bi bi-hand-thumbs-up"></i>
          <% } %>
        <i class="bi bi-hand-thumbs-down"></i>
      </h2>
      <br />
      <p>DEBUG: <%=chardebug%></p>
      <p>DEBUG: <%=mvdebug%></p>
      <h3>Van welk karakter is deze quote?</h3>
 
      <section class="options">
        <%for (let character of characters) { %>
        <figure name="<%=character._id%>" class="character_choices">
          <img src="../assets/images/pfp/<%=character._id%>.png" alt="" />
          <figcaption><%=character.name%></figcaption>
        </figure>
        <% } %>
      </section>
 
      <h3>Van welke film is deze quote?</h3>
      <section class="options">
        <% for (let movie of movies ) {%>
          <figure name="<%=movie.id%>" class="movie_choices" >
            <img src="../assets/images/<%=movie.id%>.png" alt="" class="movie-posters"/>
            <figcaption><%=movie.name%></figcaption>
          </figure>
        <% } %>
      </section>
      <form action="/quiz/10-rounds/next" method="post">
        <input type="hidden" name="character_id" id="profile_picture" value="">
        <input type="hidden" name="movie_id" id="movie_id" value="">
        <input type="hidden" name="quote_choice" id="quote_id" value="">
        <input type="hidden" name="blacklist_reason" id="blacklist_reason" value="">
        <button type="submit" id="next_question">Volgende vraag</button>
      </form>
    </main>

    <!-- End Game Popup -->
    <%if (showMenu) {%>
      <div id="popupOverlay" class="popup-overlay show">
        <div id="endGamePopup" class="end-game-popup show">
          <h2>Quiz voltooid!</h2>
          <p class="message">Je hebt alle 10 vragen beantwoord.</p>
          <div class="score"><%= userCurrentScore %>/10</div>
          <p class="meesage">+<%=receivedExp%>exp</p>
          <div class="buttons">
            <a href="/quiz/10-rounds"><button class="try-again">Opnieuw proberen</button></a>
            <a href="/quiz"><button class="back-to-menu">Terug naar menu</button></a>
          </div>
        </div>
      </div>
    <%}%>

    <%- include("partials/footer") %>
  </body>
</html>
